<!--
CREATED BY: Ewurakua Odei-Wontumi
			University of Ottawa
-->

<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
        <title>Survey on User Interface Designs</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    </head>
    
    
    <body>
        <!--images borrowed from https://www.sly-fox.ca/biggest-web-design-trends-2019/ & www.theverge.com-->

        <div class="text-center">
            <img src="/assets/design.jpg">
            <a href="https://www.etsy.com" style="color:midnightblue;" target="_blank"><img src="/assets/etsy.jpg" alt="Etsy website" title="Etsy website"><br></a>
            <br /><h1 style="color: white; font-family:georgia;">UI SURVEY</h1>
        </div>

        <div class="text-center font-weight-bold">
            <p>
                Thank you for participating in this survey. In order to build pleasing and usable websites for users, this questionnaire
                has been
            <p>
                made to get users' feedback on what makes a good website. Before you begin answering questions, please
                follow this link to the <a href="https://www.etsy.com" alt="Link to the website you'll be evaluating" target="_blank">website to be evaluated</a>.
            </p>
            <p>
                After navigating through it for some time, you can go ahead and answer the questions below.
            </p>
        </div>

        <div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
            <div class="mainform">
                <form name="Main form" method="POST">

                    <div class="eachQuestion">
                        <br>Enter your Postal Code<br>
                        <input type="text" name="postCode" style="border-color: darkviolet;"><br>
                    </div>

                    <div class="eachQuestion">
                        <br>
                        <br>Select your age range:<br><br />
                    </div>
                    <div style="font-size:16px;">
                        <input type="radio" name="age"> 16 to 20 years<br>
                        <input type="radio" name="age"> 21 to 25 years<br>
                        <input type="radio" name="age"> 25 to 30 years<br>
                        <input type="radio" name="age"> 31 to 40 years<br>
                        <input type="radio" name="age"> 41 to 50 years<br>
                        <input type="radio" name="age"> 51 to 60 years<br>
                        <input type="radio" name="age"> 60 years and above<br>
                    </div>

                    <div class="eachQuestion">
                        <br>
                        <br>What about the website did you like? Select all that apply:<br><br />
                    </div>
                    <div style="font-size:16px;">
                        <input type="checkbox" name="likedOrNot"> Ease of finding products<br>
                        <input type="checkbox" name="likedOrNot"> The overall look (colors, text, images, etc.)<br>
                        <input type="checkbox" name="likedOrNot"> Navigating the website<br>
                        <input type="checkbox" name="likedOrNot"> Ease of adding products to the shopping cart<br>
                        <input type="checkbox" name="likedOrNot"> Security when going through checkout<br>
                    </div>

                    <div class="eachQuestion">
                        <br>
                        <br>Which feature did you dislike the most, if any?<br><br />
                    </div>
                    <div style="font-size:16px;">
                        <select name="mostDisliked">

                            <option selected="selected"> Liked them all</option>
                            <option selected="selected"> Ease of finding products</option>
                            <option selected="selected"> The overall look (colors, text, images, etc.)</option>
                            <option selected="selected"> Navigating the website</option>
                            <option selected="selected"> Ease of adding products to the shopping cart</option>
                            <option selected="selected"> Security when going through checkout</option>
                            <option selected="selected"></option>

                        </select><br>
                    </div>


                    <div class="eachQuestion">
                        <br>
                        <br>Concerning checkout process, how secure did you feel it was?<br>
                    </div>
                    <pre class="text-white">Very secure		Slightly secure			Not secure at all<br />
                    <input type="radio" name="checkout" style="margin-left:-90px"><input type="radio" name="security" style="margin-left:210px"><input type="radio" name="security" style="margin-left:210px"><br></pre>


                    <div class="eachQuestion">
                        <br>Describe what you enjoyed about the features chosen.<br>
                    </div>
                    <textarea name="features" rows="3" cols="80" style="border-color:darkviolet; font-size:16px;"></textarea><br>


                    <div class="eachQuestion">
                        <br>If this store was one of your go-to shopping places, how often would you shop here? Pick 5 as "Very often" and 1 as "Not so often".<br>
                    </div>
                    <div class="givenQptions">
                        <p>
                            <br /><input type="radio" name="shopOften"> Hardly Ever
                            <br /><input type="radio" name="shopOften"> Somewhat Often
                            <br /><input type="radio" name="shopOften"> Very Often
                        </p><br><br>
                    </div>

                    <br>
                    <div class="text-center"><button id="bb" type="submit"><b>SUBMIT</b></button></div><br>
                    
                    <br>


                </form>
                <br>
            </div>

        </div>
        <script src="/assets/action.js"></script>

        <footer>Website designed by Ewurakua Odei-Wontumi</footer>
            
    </body>

</html>
