body{
	background: linear-gradient(to bottom left, #993399 16%, #33ccff 100%);
	text-align: center; 
	font-family: georgia;
}
img{
	width:350px; 
	height:270px;
}
a{
	color:midnightblue; 
}
.mainform{
	text-align: left;
	margin-left: 110px; 
	margin-right: 310px;
	font-family: georgia;
}

.eachQuestion{
	font-style: italic;
	font-size: 14px;
}

#submitButton{
	background-color: darkviolet; 
	color: white; 
	font-size: 20px; 
	font-family: georgia;
	text-align: center;
	border-color: darkviolet; 
	width: 300px;
	margin-left: 180px;
}

footer{
	font-style: italic;
	font-size: 12px;
	color: #800000;
	text-align: right;
}

